.image1{
    width:300px;
    margin:auto;
    display:flex;
}
.i{
    text-align: center;
    color:gray;
    text-transform: uppercase;
    font-weight: 2;
    letter-spacing: 4px;
}
.ima{

    width:300px;
    margin:auto;
    display:flex;
}
.content{
    padding:10px;
}
.red{
    color:red;
}

.head{
    margin-bottom:10px;
    text-decoration: underline;
    cursor:pointer;
    letter-spacing: 3px;
    font-weight: 1;
}
.content p{
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: 1;
    letter-spacing: 2px;
    color:gray;
}
